<header id="main-header">

	<nav>

		<div class="container">


				<a class="brand" href="/">Node.js Store</a>
			
			    <ul>
			    	<li>
				    	<a href="/cart">
						<i class="fa fa-shopping-cart"></i> 
						<span class="badge">
						{{# if session.cart.totalQty}}

							{{session.cart.totalQty}}

						{{else}} 

						0

						{{/if}}
						</span>

						</a>  
					</li>
				
				 

				{{# if login}}

						<li><a href="/user/profile"><i class="fa fa-user"></i> Your Profile</a></li>
						<li><a href="/user/logout"><i class="fa fa-sign-out"></i> Logout</a></li>

					
					


				{{else}} 

					
						<li><a href="/user/signup"><i class="fa fa-user-plus"></i> Sign up</a></li>

						<li><a href="/user/signin"><i class="fa fa-sign-in"></i> Sign in</a></li>
					
					





				{{/if}}
				</ul>

		</div>
	
	</nav>

</header>

