
{{#if successMsg}}
	<div id="success" class="alert alert-success">
	      
	      {{successMsg}}

	</div>
{{/if}}


<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<p><a href="/shop">Click here to shop</a></p>

