
{{# each products}} 

	<div class="row">

		{{# each this}} 

				<div class="product">

					<h3>{{this.title}}</h3>
		            <p class="description">{{this.description}}</p>
		            <div class="price">${{this.price}}</div>
					<a href="/add-to-cart/{{this._id}}" role="button">Add to Shopping Cart</a>

	        	</div>

	    

		{{/each}}

	</div>

{{/each}}